{% extends "index.html" %}
{% block title %}Головна{% endblock %}
{% block content %}
    <div class="hero-section">
        <h1>Ласкаво просимо до PrepAIre!</h1>
        <p>Ваш персональний помічник у підготовці до іспитів та покращенні знань.</p>
        <p>Ми пропонуємо інтерактивні курси з ключових предметів, розроблені експертами, щоб зробити ваше навчання ефективним та захоплюючим.</p>
        <a href="{{ url_for('subjects') }}" class="btn btn-primary">Перейти до предметів</a>
    </div>
{% endblock %}